@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;
$max: 0;
html {
    padding-top: 50px;
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    text-align: center;
    background-color: $bg-color;
    *,
    *:before,
    *:after {
        box-sizing: border-box;
        transition: 0.5s ease-in-out;
    }
    i,
    em,
    b,
    strong,
    span {
        transition: none;
    }
}

*:before,
*:after {
    z-index: -1;
}

a {
    text-decoration: none;
    line-height: $btn-height;
    color: black;
}

.centerer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem
}

@media (min-width: 600px) {
    .wrap {
        width: 50%;
        float: left;
    }
}

[class^="btn-"] {
    position: relative;
    display: block;
    overflow: hidden;
    $btn-height: size 100%;
    max-width: $btn-width;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
}

.btn-6 {
    $btn-color: #000;
    $btn-color-dark: shade($btn-color, 40%);
    color: tint($btn-color, 75%);
    span {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $btn-color-dark;
        transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    &:hover {
        color: tint($btn-color, 75%);
        span {
            width: 225%;
            height: 562.5px;
        }
    }
    &:active {
        background-color: $btn-color;
    }
}