            @import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
            html {
                padding-top: 50px;
                font-family: "Open Sans", Helvetica, arial, sans-serif;
                text-align: center;
                background-color: #34343b;
            }
            
            html *,
            html *:before,
            html *:after {
                box-sizing: border-box;
                transition: 0.5s ease-in-out;
            }
            
            html i,
            html em,
            html b,
            html strong,
            html span {
                transition: none;
            }
            
            *:before,
            *:after {
                z-index: -1;
            }
            
            a {
                text-decoration: none;
                line-height: 80px;
                color: black;
            }
            
            .centerer {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                padding: 0 1rem;
            }
            
            @media (min-width: 600px) {
                .wrap {
                    width: 50%;
                    float: left;
                }
            }
            
            [class^=btn-] {
                position: relative;
                display: block;
                overflow: hidden;
                max-width: 250px;
                margin: 1rem auto;
                text-transform: uppercase;
                border: 1px solid currentColor;
            }
            
            .btn-6 {
                color: #C3C3C3
            }
            
            .btn-6 span {
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-radius: 50%;
                background-color: #5386E4;
                transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
            
            .btn-6:hover {
                color: #C3C3C3
            }
            
            .btn-6:hover span {
                width: 225%;
                height: 562.5px;
            }
            
            .btn-6:active {
                background-color: #34343b;
            }
            
            footer {
                text-align: center;
            }
            
            .social-media {
                font-size: 40px;
            }
            
            i {
                font-size: 40px;
                color: #414141;
                text-align: center;
                margin: 40px;
                padding: 80px 40px 80px 40px;
                -webkit-transition: all 0.8s ease-in;
                transition: all 0.8s ease-in;
            }
            
            i:hover {
                color: #5386E4;
                ;
            }
            
            .copyright {
                opacity: 75%;
                color: #5386E4;
            }
            
            .title {
                font-family: 'Abril Fatface', cursive;
                font-size: 30px;
                font-weight: 100;
                color: #5386E4;
                letter-spacing: 1mm;
                padding: 15px 0 15px 0;
            }
            
            p.intro {
                padding: 15px;
                font-family: 'Commissioner', sans-serif;
                text-align: center;
                color: #5386E4;
                font-size: 20px;
            }
            
            .outro {
                font-size: 15px;
                font-family: 'Commissioner', sans-serif;
                margin: 45px 0 0 auto;
                color: #5386E4;
            }
            
            #innerTextOutput {
                outline: none;
                background-color: #C3C3C3;
            }
            /*# sourceMappingURL=Index.css.map */