            @import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
            html {
                padding-top: 50px;
                font-family: "Open Sans", Helvetica, arial, sans-serif;
                text-align: center;
                background-color: #FFFFFF;
            }
            
            html *,
            html *:before,
            html *:after {
                box-sizing: border-box;
                transition: 0.5s ease-in-out;
            }
            
            html i,
            html em,
            html b,
            html strong,
            html span {
                transition: none;
            }
            
            *:before,
            *:after {
                z-index: -1;
            }
            
            a {
                text-decoration: none;
                line-height: 80px;
                color: black;
            }
            
            .centerer {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                padding: 0 1rem;
            }
            
            @media (min-width: 600px) {
                .wrap {
                    width: 50%;
                    float: left;
                }
            }
            
            [class^=btn-] {
                position: relative;
                display: block;
                overflow: hidden;
                max-width: 250px;
                margin: 1rem auto;
                text-transform: uppercase;
                border: 1px solid currentColor;
            }
            
            .btn-6 {
                color: #C7C7C7;
                padding: 10px;
            }
            
            .btn-6 span {
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-radius: 50%;
                background-color: #6e5494;
                transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
            
            .btn-6:hover {
                color: #C7C7C7;
            }
            
            .btn-6:hover span {
                width: 225%;
                height: 562.5px;
            }
            
            .btn-6:active {
                background-color: #34343b;
            }
            
            footer {
                text-align: center;
            }
            
            .social-media {
                font-size: 40px;
            }
            
            i {
                font-size: 40px;
                color: #C7C7C7;
                text-align: center;
                margin: 40px;
                -webkit-transition: all 0.8s ease-in;
                transition: all 0.8s ease-in;
            }
            
            i:hover {
                color: #59606d;
                ;
            }
            
            .copyright {
                opacity: 50%;
                color: #414141;
            }
            
            .title {
                font-family: 'Abril Fatface', cursive;
                font-size: 30px;
                font-weight: 100;
                color: #59606d;
                letter-spacing: 1mm;
                padding: 20px 0 20px 0;
            }
            
            p {
                padding: 15px;
                font-family: 'Commissioner', sans-serif;
                text-align: center;
                color: #59606d;
                font-size: 20px;
                margin: 100px 0 0 0;
            }
            
            p.intro {
                padding: 15px;
                font-family: 'Commissioner', sans-serif;
                text-align: center;
                color: #59606d;
                font-size: 20px;
                margin: 40px 0px 50px 0;
            }
            
            .outro {
                font-size: 15px;
                font-family: 'Commissioner', sans-serif;
                margin: 100px 0 0 auto;
                padding: 100px;
                color: #59606d;
            }
            
            #innerTextOutput {
                outline: none;
                background-color: #C7C7C7;
                color: #59606d;
            }
            
            .logo {
                width: 800px;
                height: auto;
                background-position: center;
                position: relative;
            }
            
            @media screen and (max-width: 800px) {
                .logo {
                    width: 450px;
                    height: auto;
                    background-position: center;
                }
            }
            /*# sourceMappingURL=Index.css.map */